// 全局变量使用示例 color: $myColor;
$gFont: Helvetica, sans-serif;

// 全局模块背景色
$gBodyBg: #0f1823;
$gBodyBg2: #132030;
$gFormInputBg: #094f82;
// 边框
$gBorderColor: #1b4e7f;
// 全局文字色
$gColor: #ffffff;
$gTitleColor: #90b7e9;
$gGrayColor: #eff1f4;
// 默认文字大小
$gFontSize: 14px;

// element 主题配色
$gPrimary: #1d6eb8;
$gSuccess: #48b197;
$gWarning: #e2a227;
$gDanger: #ea5937;
$gError: #ea5937;
$gInfo: #3f6689;
